<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
      <style>
        .jumbotron {background-color: brown !important;}
    </style>
</head>
<body>
    <div th:replace="/fragments/nav.html :: fragment-nav"></div>
    
<div id="content-wrapper" class="d-flex flex-column">
	<div id="content">
    <!-- 페이지 소스 -->
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-4">h1 class display-4 Index test</h1>
            <p class="lead">p class lead</p>
                                    
        </div>
    </div>
    <!-- 페이지 소스 -->
    


    <footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
    </div>
 </div>
</body>

</html>